<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>yes</title>
  </head>

  <body>
    <main class="centered">
      <div>
        <h1 class="highligthed">Upload a file</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
          <input
            type="file"
            name="file"
            required
            accept="text/markdown, text/markdown, text/plain"
          />
          <% if (errorm != "") { %>
          <div class="error-div"><%= errorm %></div>
          <% } %>
          <button type="submit">Upload</button>
        </form>
      </div>
    </main>
  </body>
</html>
